* {
    box-sizing: border-box;
}

body {
    background-color: #e2dfdf;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;
}

button {
    outline: none;
    border: none;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    width: max-content;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#catalog {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.goodsCard {
    width: calc((100% - 60px) / 4);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: #fff;
}

.cardImg {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;

}

.cardTitle {
    height: 50px;
}

.sale {
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    width: max-content;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
}

.cardTags {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.grayscale {
    filter: grayscale(1);
}

.catalogFilters {
    margin-bottom: 30px;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

select, option {
    padding: 5px 10px;
    border: 1px solid #e2dfdf;
    font-family: "Montserrat", sans-serif;
}

#catalogBtn {
    margin-left: 30px;
}

.catalogFilters h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
}

.catalogFiltersOther {
    display: flex;
    gap: 20px;
}

.btnGroup {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.displayFlex {
    display: flex;
}

.displayNone {
    display: none;
}